:root {
    --color-primary: #00E0C7;
    --color-primary-contrast: #FFFFFF;
    --color-text: #E2E2E2;
    --color-surface: #2C2C2C;
    --color-background: #181818;
    --color-destructive: #FF4C4C;
    --color-success: #2ECC70;
    --color-alert: #F0B429;
}

body {
  margin: 0;
}